@media (max-width:799px){
    .portfolioCard{
        height: 150px;
    }
}
@media (max-width:650px){
    .portfolioCard{
        height: 150px;
        width: 45%;
    }
}
@media (max-width:399px){
    .portfolioCard{
        height: 130px;
    }
}
@media (max-width:350px){
    .portfolioCard{
        height: 100px;
    }
}