.homePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.homePageImg img{
    border-radius: 50%;
    width: 150px;
}
.homePageItem{
    margin-bottom: 100px;
}

