.homePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.avatar{
    margin-bottom: 20px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 2)
}
.homePageItem{
    margin-bottom: 100px;
    text-align: center;
}

