@media (max-width:899px){
    .skills{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .skillsItem{
        width: 100%;
    }
    .download{
        width: 100%;
    }
}
@media (max-width:499px){
    .skill{
        padding: 10px;
    }
    .skills h1{
        font-size: 25px;
    }
    .skillTitle{
        font-size: 13px;
    }
    .skillContainer {
        width: 80%;
        
    }
}