@media (max-width:899px){
    .mediumBody{
        display: flex;
        width: 100%;
    }
    .contactMeBody{
        width: 40%;
    }
    .contact-form{
        width: 60%;
    }
}
@media (max-width:550px){
    .mediumBody{
        display: flex;
        flex-wrap: wrap;
    }
    .contactMeBody{
        width: 100%;
        display: flex;
        flex-direction: initial;
        justify-content: space-between;
        align-items: flex-end;
    }
    .contact-form{
        width: 100%;
    }
}
@media (max-width:432px){
    .socialItems{
        margin-bottom: 10px;
    }
    .socialItem{
        margin: 5px;
    }
}
@media (max-width:332px){
    .socialItem{
        width: 15px;
    }
}