@media (max-width:899px){
    .mediumBody{
        display: flex;
        width: 100%;
    }
    .contactMeBody{
        width: 40%;
    }
    .contact-form{
        width: 60%;
    }
}
@media (max-width:550px){
    .mediumBody{
        display: flex;
        flex-wrap: wrap;
    }
    .contactMeBody{
        width: 100%;
        display: flex;
        flex-direction: initial;
        justify-content: space-between;
        align-items: flex-end;
        /* padding: 0 20px; */
    }
    .contactMeBodyItem, .socialItems{
        width: 40%;
    }
    .contact-form{
        width: 100%;
    }
}
@media (max-width:432px){
    .contactMeBody{
        /* align-items: center; */
    }
    .contactMeBodyItem{
        width: 60%;
    }
    .socialItems{
        width: 40%;
        margin-bottom: 10px;
    }
    .socialItem{
        margin: 5px;
    }
}
@media (max-width:332px){
    .socialItem{
        width: 100%;
    }
}