.App{
  display: flex;
  background-color: rgb(235, 235, 235);
  margin: 0 auto;
}
.content{
  width: 83%;
  height: 100vh;
}
.container{
  max-width: 80%;
  margin: 0 auto;
}
.w-100{
  width: 100%;
}
.mb-20{
  margin-bottom: 20px;
}