.aboutMe{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
}
.aboutText{
    width: 70%;
    font-size: 14px;
    line-height: 1.5;
    padding-bottom: 40px;
}